@model IEnumerable<AspFinalProje.Models.Advert>
@foreach (var item in Model)
{
    if (item.IsVip == false)
    {
        <div class="col-md-4">
            <div class="card-box-a card-shadow">
                <div class="img-box-a">
                    <img src="~/Images/@item.Avtomobil.Image" alt="" class="img-a img-fluid ">
                </div>
                <div class="card-overlay">
                    <div class="card-overlay-a-content">
                        <div class="card-header-a">
                            <h2 class="card-title-a">
                                <span>
                                    @item.Avtomobil.Model.Marka.MarkaName
                                </span>
                                <span>
                                    @item.Avtomobil.Model.ModelName

                                </span>

                            </h2>
                        </div>
                        <div class="card-body-a">
                            <div class="price-box d-flex">
                                <span class="price-a">Qiymət | $ @item.Avtomobil.Price</span>
                            </div>
                            <a href="@Url.Action("Detail","Car",new { id = item.Id })" class="link-a">
                                Daha Ətraflı
                                <span class="ion-ios-arrow-forward"></span>
                            </a>

                        </div>
                        <div class="card-footer-a">
                            <ul class="card-info d-flex justify-content-around">
                                <li>
                                    <h4 class="card-info-title">Rəng</h4>
                                    <span>
                                        @item.Avtomobil.Color
                                    </span>
                                </li>
                                <li>
                                    <h4 class="card-info-title">Motor</h4>
                                    <span>@item.Avtomobil.EngineCapacity </span>
                                </li>

                                <li>
                                    <h4 class="card-info-title">İli</h4>
                                    <span>@item.Avtomobil.MadeYear</span>
                                </li>
                                <li>
                                    <h4 class="card-info-title">Km</h4>
                                    <span>@item.Avtomobil.KiloMetre</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-4">
            <div class="card-box-a card-shadow">
                <div class="img-box-a">
                    <img src="~/Images/@item.Avtomobil.Image" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                    <div class="card-overlay-a-content">
                        <div class="card-header-a">
                            <h2 class="card-title-a">
                                <span>
                                    @item.Avtomobil.Model.Marka.MarkaName
                                </span>
                                <span>
                                    @item.Avtomobil.Model.ModelName <sup style="color:gold;font-size:25px;"><i class="fas fa-crown"></i></sup>
                                </span>

                            </h2>
                        </div>
                        <div class="card-body-a">
                            <div class="price-box d-flex">
                                <span style="" class="price-a">Qiymət | $ @item.Avtomobil.Price</span>
                            </div>
                            <a href="@Url.Action("Detail","Car",new { id = item.Id })" class="link-a">
                                Daha Ətraflı
                                <span class="ion-ios-arrow-forward"></span>
                            </a>
                        </div>
                        <div class="card-footer-a">
                            <ul class="card-info d-flex justify-content-around">
                                <li>
                                    <h4 class="card-info-title">Rəng</h4>
                                    <span>
                                        @item.Avtomobil.Color
                                    </span>
                                </li>
                                <li>
                                    <h4 class="card-info-title">Motor</h4>
                                    <span>@item.Avtomobil.EngineCapacity </span>
                                </li>

                                <li>
                                    <h4 class="card-info-title">İli</h4>
                                    <span>@item.Avtomobil.MadeYear</span>
                                </li>
                                <li>
                                    <h4 class="card-info-title">Km</h4>
                                    <span>@item.Avtomobil.KiloMetre</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

